Backup*/
# Data/

# Output files
development/????-??-??T??-??-??Z/
development/RDS/
acceptance/
acceptance/RDS/
production/
production/RDS/


# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user


# Microsoft Office
~$*.*
