Backup*/
# Data/
Output/????-??-??T??-??-??Z/
Output/RDS/


# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user


# Microsoft Office
~$*.*
