default:
  DTS: !expr DTS
  DTSName: !expr format(DTS, "%Y-%m-%dT%H-%M-%SZ")
  seed: 1234

  splitRatios:
    train: 0.6
    valid: 0.2
    test:  0.2
  
  dpi: 600
  colours: !expr config::get(file = "colours.yml")
  
  folders:
    output: !expr paste(getwd(), "development", format(DTS, "%Y-%m-%dT%H-%M-%SZ"), sep="/")
    data: Data
    rds: RDS
    
  files:
    log: Rlog.log
    total: total.csv
    total_config: total_config.csv
  
  rds:
    total: total.rds
    imputed: total_imputed.rds

  logging:
    level: DEBUG

  shiny:
    port: 7861

  copy.source.to.output: TRUE

acceptance:
  folders:
    output: !expr paste(getwd(), "acceptance", sep="/")
  logging:
    level: INFO
  copy.source.to.output: FALSE

production:
  folders:
    output: !expr paste(getwd(), "production", sep="/")
  logging:
    level: INFO
  copy.source.to.output: FALSE
